#stream-title {
 margin-left: 40%;
}

#admin-video{
 width: 300px;
    height: 200px;
}

#stream-status {
    position: relative;
    float: left;
    margin-left: 10%;
}

#update-stream-status-btn , #compile-stream-btn-block, #stream-title-block,
#stream-portion-id, #stream-status, #animation-block, #audio-block{
    margin-left: 10%;
}


#admin-gif {
    margin-left: 10%;
    height: 200px;
    width: 200px;
}

