#stream-title {
 margin-left: 40%;
}

#stream-status {
    margin-left: 10%;
}

#animation-block {
    margin-left: 10%;
}

#audio-block{
    margin-left: 10%;
}

#admin-gif {
    margin-left: 10%;
    height: 200px;
    width: 200px;
}