#video-wrapper{
    width: 100%;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}

audio::-webkit-media-controls-time,
video::-webkit-media-controls-time {
    display: none;
}
audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display {
    display: none;
}

audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
    display: none;
}

video::-webkit-media-controls-panel {
background-image: linear-gradient(transparent, transparent) !important;

}

video{
    height: 560px;
    width: 1000px;
    outline:none;
}


