#video-wrapper{
    width: 100%;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}

audio::-webkit-media-controls-time,
video::-webkit-media-controls-time {
    display: none;
}
audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display {
    display: none;
}

audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
    display: none;
}

video::-webkit-media-controls-panel {
background-image: linear-gradient(transparent, transparent) !important;

}

video{
    height: 50%;
    max-height: 560px;
    max-width: 1000px;
    width: 100%;
    outline:none;
}

.inner-video {
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.video-icon-online {
    position: absolute;
    z-index: 2;
    bottom: .8rem; 
    left: 3rem;
    padding: .4rem .9rem;
    text-transform: uppercase;
    color:rgb(255, 255, 255)
}

.icon-circle {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: rgb(185, 30, 30);
    border-radius: 50px;
    margin-bottom: .1rem;
}


